<h2>Result is ...</h2>
<div class="">
  <h2>30 days</h2>
  <%= @v_30_viewer.to_json rescue 'not found' %> <br>
  <h2>60 days</h2>
  <%= @v_60_viewer.to_json rescue 'not found' %> <br>
  <h2>90 days</h2>
  <%= @v_90_viewer.to_json rescue 'not found' %> <br>
</div>

<br>

<%= form_tag( home_test_path , method: "get") do %>
  <!-- get date range -->
  <%= label_tag(:range, "Date range:") %>
  <%= number_field_tag(:range) %> days <br>

  <!-- expression added -->
  <%= label_tag(:express, "Expression:") %>
  <%= text_field_tag(:express) %> <br>

  <!-- submit button -->
  <%= submit_tag("Search") %>
<% end %>
