<h2>Result is ...</h2>
<div class="">
  <%= @total_viewer.to_json rescue 'not found' %> <br>
</div>

<br>
<%= form_tag( home_test_path , method: "get") do %>
  <!-- get date range -->
  <%= label_tag(:range, "Date range:") %>
  <%= number_field_tag(:range) %> days <br>

  <!-- expression added -->
  <%= label_tag(:express, "Expression:") %>
  <%= text_field_tag(:express) %> <br>

  <!-- submit button -->
  <%= submit_tag("Search") %>
<% end %>
