<h2>Result is ...</h2>

<div class="">
  <div class="">report</div>
  <%= @peg[0][:report].to_json %>
  <br><br>
  <div class="">total</div>
  <%= @peg[0][:totals].to_json %><br>
</div>

<br>

<%= form_tag( test_path , method: "get") do %>
  <!-- get date range -->
  <%= label_tag(:range, "Date range:") %>
  <%= text_field_tag(:range) %> days <br>

  <!-- expression added -->
  <%= label_tag(:express, "Expression:") %>
  <%= text_field_tag(:express) %> <br>

  <!-- submit button -->
  <%= submit_tag("Search") %>
<% end %>
